.header{
    display: flex;
    border:1px solid gray;
    border-radius:5px;
    padding:5px;
    flex-wrap: wrap;
}
.log{
    margin-top: 10px;
}
.InstaName{
    font-size: 64px;
    color: #006238;
    margin-left: 12px;
    margin-bottom: 2px;
    margin-top: -20px;
}
 
.camera-icon{
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    margin-top:10px;
}